
@font-face {
  font-family: 'Ek Mukta ExtraBold';
  src: 
  url(fonts/ek-mukta/EkMukta-ExtraBold.ttf),
}

@font-face {
  font-family: 'Ek Mukta Medium';
  src: 
  url(fonts/ek-mukta/EkMukta-Medium.ttf),
}


body {
  background-color: #CACACA;
  margin:0;
  padding:0;
}

.background {
  position:fixed;
  width: 1200px;
  height: 770.67px;

  background: #FFFFFF;
  box-shadow: 0px 0px 50px 4px rgba(0, 0, 0, 0.5);
  
  border-radius: 25px;
  top:50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -9999;
}

.menuTab {

  position: absolute;
  width: 206px;
  height: 739px;
  left: 20.93px;
  top: 16.72px;

  background: #F4F4F4;
  border-radius: 15px;



}

.menuTitle {

position: absolute;
width: 63px;
height: 14px;
left: 12.93px;
top: 25px;

font-family: 'Ek Mukta ExtraBold';
font-style: normal;
font-weight: 800;
font-size: 25px;
line-height: 0px;

color: #7E7E7E;

transform: matrix(1, 0, 0, 1, 0, 0);


}

.menuButton {
  position: absolute;
  width:8px;
  height: 16px;
  left: 180.78px;
  top: 22.02px;
  border-radius: 2.5px;
  transform: matrix(0, 1, -1, 0, 0, 0);

}

.taskTitle {

  position: relative;
  width: 300px;

  font-family: 'Ek Mukta ExtraBold';
  font-style: normal;
  font-weight: 700;
  font-size: 35.5px;
  line-height: 0px;
  letter-spacing: 0.05em;
  left: 230px;
  top:50px;
  white-space: nowrap;

  color: #3D3D3D;

  transform: matrix(1, 0, 0, 1, 0, 0);

}

.taskCounter {

  position:relative;
  width: 24px;
  height: 24px;
  left: 0px;
  bottom: 15px;

  font-family: 'Ek Mukta ExtraBold';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 15px;
  letter-spacing: 0.05em;

  color: #EB3678;


}

.taskContainer {

  position: absolute;
  width: 700px;
  height: 550px;
  left: 250px;
  bottom: 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  gap: 20px;
  overflow-y: scroll;

}

.taskFrame {
  flex: auto;
  position:static;
  width: 200px;
  height: 220px;
  left: 8px;
  top: 7px;
  flex: 0 0 auto;
  background: #FB773C;
  border-radius: 15px;

}

.taskTemplate_title {

  position: relative;
  width: 200px;
  height: 20px;
  left: 0px;
  top: 12.5px;

  font-family: 'Ek Mukta ExtraBold';
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 0px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;

  color: #FFFFFF;


}

.taskTemplate_titleLine {

  position: static;
  width: 200px;
  height: 0px;
  left: 0px;
  top: 65px;
  align-self: center;

  border: 1px solid #FFFFFF;

}

.taskTemplate_description {

  position:relative;
  width: 180px;
  height: 67px;
  left: 10px;
  top: 10px;

  font-family: 'Ek Mukta Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #FFFFFF;


}


.taskTemplate_date {

  position: relative;
  width: 200px;
  height: 15px;
  left: 0px;
  top: 20px;

  font-family: 'Ek Mukta Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #FFFFFF;

}

.taskTemplate_dateLine {

  position: relative;
  width: 65px;
  height: 0px;
  top: 30px;
  

  border: 1px solid #FFFFFF;

}

