


@font-face {
  font-family: 'Ek Mukta ExtraBold';
  src: 
  url(fonts/ek-mukta/EkMukta-ExtraBold.ttf),
}

@font-face {
  font-family: 'Ek Mukta Medium';
  src: 
  url(fonts/ek-mukta/EkMukta-Medium.ttf),
}

@font-face {
  font-family: 'Ek Mukta Light';
  src: 
  url(fonts/ek-mukta/EkMukta-Light.ttf),
}

@font-face {
  font-family: "Ek Mukta ExtraLight";
  src: url(fonts/ek-mukta/EkMukta-ExtraLight.ttf);
}

@font-face {
  font-family: "Ek Mukta Regular";
  src: url(fonts/ek-mukta/EkMukta-Regular.ttf);
}


body {
  background-image: url("images/Transparent\ background_\ Checkered.png");
  margin:0;
  padding:0;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  text-rendering: optimizeLegibility;  */

  /* background grid */
  height: 14.93rem;
  background-image: radial-gradient(circle, rgb(78,78,78) 1px, rgb(38, 38, 38) 1px);
  background-size: 2.5rem 2.5rem;
  background-position: center center;
}


.mainFrame {
  position: fixed;
  width: 1107.25px;
  height: 607px;
  top:50%;
  left: 50%;
  border-radius: 25px;
  transform: translateX(-50%) translateY(-50%);
  
  box-shadow: 0px 0px 100px 4px #121212;
  

}

.todo__background {
  box-sizing: border-box;

  position: absolute;
  width: 614.46px;
  height: 606.62px;
  left: 212.99px;
  top: 0px;
  /* todoBackground */
  border-width: 1px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      #272727 0%, 
      #8b8b8b 50%,
      #272727 100%
    ) 1 100%;
  background-image: radial-gradient(50% 50% at 50% 50%, #2E2E2E 0%, #2C2C2C 100%);

}

.todo__title {

/* Text */

position: relative;
width: 131px;
height: 0px;
left: 29px;
top: 43.11px;
white-space: nowrap;

font-family: 'Ek Mukta Light';
font-style: normal;
font-size: 28px;
line-height: 0px;
/* identical to box height, or 0% */
letter-spacing: 0.15em;

color: #FFFFFF;

transform: matrix(1, 0, 0, 1, 0, 0);


}

.todo__bin {
  position: absolute;
  left: 90.65%;
  right: 6.42%;
  top: 18.96%;
  bottom: 77.75%;
  cursor: pointer;
  transition: scale 0.1s, filter 0.05s;


}

.todo__bin:hover {
  scale: 1.2;
}

@keyframes example {
  from {background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);}
  to {background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 100%, #FFFFFF 100%);}
}

.todo__task__counter {

  position: relative;
  width: 18.81px;
  height: 18.81px;
  left: 170px;
  top: 24px;

  font-family: 'Ek Mukta Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 19.5938px;
  line-height: 12px;
  /* or 60% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;

  color: #EB3678;


}

.todo__task__container {
  box-sizing: border-box;

  position: absolute;
  width: 614px;
  height: 431px;
  left: calc(50% - 614px/2 - 0.22px);
  top: 144px;
  padding-top: 25px;
  padding-left:50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  gap: 20px;
  overflow-y: scroll;
  padding-bottom: 240px;

  border-top: 1px solid #545454;

}

.todo__task__container::slotted {
  
  background-image: white
}

.todo__task__container::-webkit-scrollbar {
  background-color: rgb(0,0,0,0%);
}

.todo__task__container > * {
  cursor: pointer;
  transition: transform 0.1s;
  perspective: 500px;
}

.todo__task__container__addButton {
  /* AddButton */

  box-sizing: border-box;

  position: static;
  width: 156.75px;
  height: 172.43px;
  left: 35.26px;
  top: 25px;

  background: rgb(51, 51, 51, 0%);
  border: 0.78375px solid #949494;
  border-radius: 11.7562px;
  transition: scale 0.1s, box-shadow 0.1s;

}

.todo__task__container__addButton:hover {

  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5), inset 0px 0px 20px 1px rgba(0, 0, 0, 0.5);
  scale: 1.05;
}

.todo__task__container__addButton__sign {
    position: static;
    width: 31.35px;
    height: 31.35px;

}

.menu {

position: absolute;
width: 213px;
height: 607px;
left: 0px;
top: 0px;

background: linear-gradient(84.39deg, #333333 2.38%, #272727 93.15%);
border-radius: 25px 0px 0px 25px;

}

.menu__title {

position: absolute;
width: 49px;
height: 0px;
left: 16px;
top: 30px;

font-family: 'Ek Mukta Light';
font-style: normal;
font-weight: 300;
font-size: 15.675px;
line-height: 0px;
letter-spacing: 0.25em;

color: #DEDEDE;

transform: matrix(1, 0, 0, 1, 0, 0);

}

.menu__button {

  position: absolute; 
  left:190px;
  top:30px;

}

.menu__searchbar__frame {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 5px;

  position: absolute;
  width: 167px;
  height: 34px;
  left: 16px;
  top: 51px;

  background: #232323;
  border-radius: 7.5px;

}

.menu__searchbar__icon {

  width: 12.96px;
  height: 12.96px;

  flex: none;
  order: 0;
  flex-grow: 0;

}

.menu__searchbar__inputFrame {

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  width: 133px;
  height: 28px;

  flex: none;
  order: 1;
  flex-grow: 0;
  background-color: rgb(255,255,255,0%);
  border-style: none;
  outline: none;

  font-family: 'Ek Mukta Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.36px;

  color: white;


}

.menu__navigation__frame {
  position: absolute;
  width: 213px;
  height: 391px;
  left: 0px;
  top: 216px;

  background: linear-gradient(90.43deg, #333333 12.86%, #272727 99.66%);
  border-top: 0.78375px solid #8D8D8D;
  border-radius: 0px 0px 0px 25px;

}

.menu__navigation__title {
/* Navigate */

position: absolute;
width: 212.99px;
height: 10px;
top: 25px;

font-family: 'Ek Mukta light';
font-style: normal;
font-weight: 300;
font-size: 15.675px;
line-height: 0px;
/* or 0% */
text-align: center;
letter-spacing: 0.25em;

color: #DEDEDE;

transform: matrix(1, 0, 0, 1, 0, 0);

}

.properties {

  position: absolute;
  width: 280px;
  height: 607px;
  left: 827px;
  top: -1px;

  background: linear-gradient(84.39deg, #272727 2.38%, #333333 93.15%);
  border-radius: 0px 25px 25px 0px;
  transition: filter 0.25s;



}

.properties--unselected {
  filter:brightness(80%);
  transition: filter 0.25s;
}

.properties--unselected .properties-frame {
  opacity: 0%;
}

.properties-frame {
  position: absolute;
  width: 280px;
  height: 607px;
  left: 0px;
  top: 0px;
  transition: opacity 0.25s;

}

.properties__title {
  position: absolute;
  width: 213.17px;
  height: 0px;
  left: 33px;
  top: 30px;

  font-family: 'Ek Mukta Light';
  font-style: normal;
  font-weight: 300;
  font-size: 15.675px;
  line-height: 0px;
  /* or 0% */
  text-align: center;
  letter-spacing: 0.25em;

  color: #DEDEDE;

  transform: matrix(1, 0, 0, 1, 0, 0);
}

.properties__lines {
/* lines */

position: absolute;
left: 80.75px;
top: 55.05px;

transform: matrix(1, 0, 0, 1, 0, 0);

}

.properties__task__header__text {
  position: absolute;
  width: auto;
  height: 0px;
  left: 23px;
  top: 93px;

  font-family: 'Ek Mukta Light';
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 0px;
  letter-spacing: 0.25em;

  color: #9B9B9B;


}


.properties__task__name {

  position: absolute;
  width: 40px;
  height: 0px;
  left: 0.5px;
  top: -2px;

  font-family: 'Ek Mukta Light';
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 0px;
  letter-spacing: 0.25em;

  color: #DEDEDE;

  transform: matrix(1, 0, 0, 1, 0, 0);

}

.properties__task__inputFrame {

  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 9px;
  gap: 10px;

  position: relative;
  width: 231px;
  height: 30px;
  left: 0.5px;
  top: 14px;

  background: #232323;
  border: 1px solid #5A5A5A;
  border-radius: 7px;

  font-family: 'Ek Mukta Light';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 0px;
  letter-spacing: 0.15em;

  color: white;
  transition: scale 0.1s, box-shadow 0.1s;


}

.properties__task__inputFrame:focus {
  scale: 1.02;
  box-shadow: 0px 4.08px 10.2px rgba(0, 0, 0, 0.25);
}

.properties__task__list {

  /* box-sizing: border-box; */

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px 0;

  position: absolute;
  width: 280px;
  height: 500px;
  left: 0px;
  top: 107px;

  border-top: 1px solid #8D8D8D;


}

.properties__task__mainFrame {

  position: relative;
  width: 231px;
  height: 44px;

  flex: none;
  order: 0;
  flex-grow: 0;

}

.properties__task__deadline__frame {

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 10px;

  width: 232px;
  height: auto;
  margin-bottom: 25px;

  flex: none;
  order: 0;
  flex-grow: 0;

}

.properties__task__deadline_upperText {
  width: 71px;
  height: 0px;
  position: relative;
  /* margin-bottom: 12px; */

  font-family: 'Ek Mukta Light';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 0px;
  letter-spacing: 0.25em;

  color: #DEDEDE;

  flex: none;
  order: 0;
  flex-grow: 0;

}

.properties__task__tagsFrame {

  position: relative;
  width: 226px;
  height: 69px;

  flex: none;
  order: 0;
  flex-grow: 0;


}

.properties__task__tagsHeader {

  position: relative;
  width: 38px;
  height: 0px;
  left: 0px;
  top: 6px;

  font-family: 'Ek Mukta Light';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 0px;
  display: flex;
  align-items: center;
  letter-spacing: 0.25em;

  color: #DEDEDE;


}

.properties__task__tagAdder {
  position: absolute;
  width: 11.72px;
  height: 11.72px;
  left: 45px;
  top: 0px;

}

.properties__task__tagList {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 5px;

  position: absolute;
  width: 225px;
  height: 90px;
  left: 0px;
  top: 24px;


}

.properties__editButton {

  position: absolute;
  left: 82.14%;
  right: 7.86%;
  top: 92.92%;
  bottom: 2.47%;


}

.taskFrame {

  box-sizing: border-box;

  position: static;
  width: 156.75px;
  height: 172.43px;
  border-radius: 11.7562px;
  scale:100%;
  transition: scale 0.1s, background-color 0.1s, filter 0.1s, flex 2s;

}

.taskFrame--selected {
  scale:1.05;
  filter: brightness(150%);
}

.taskFrame--selected .taskFrame__background {
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5);
}

.taskFrame__background {
  flex: auto;
  position:absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 15px;
  background-color: #000000;
  overflow: hidden;

  background: linear-gradient(180deg, #2F2F2F 50%, #222222 100%);
  border: 0.78375px solid #FB773C;
  border-radius: 11.7562px;
  perspective: "1px";

}

.taskFrame__mouseGradient {
  position: absolute;
  height: 100%;
  width: 100%;
}

.taskFrame__title {

/* TaskTitle */

position: absolute;
width: 156.75px;
height: 15.68px;
left: 0px;
top: 26px;
user-select: none;

font-family: 'Ek Mukta Medium';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 0px;
/* or 0% */
align-items: center;
text-align: center;
letter-spacing: 0.05em;

color: #FB773C;


}

.taskFrame__titleLine {

position: absolute;
width: 156.75px;
height: 0px;
left: 0px;
top: 50.94px;

border: 0.78375px solid #FB773C;


}

.taskFrame__description {

/* TaskDescription */

  position: absolute;
  width: 141.07px;
  height: 52.51px;
  left: 7.84px;
  top: 62.7px;
  user-select: none;

  font-family: 'Ek Mukta Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 11.7562px;
  line-height: 12px;
  /* or 100% */
  text-align: center;
  letter-spacing: 0.05em;

  color: #FB773C;



}


.taskFrame__date {
  position: absolute;
  width: 156.75px;
  height: 11.76px;
  left: 0px;
  top: 129.32px;
  
  user-select: none;

  font-family: 'Ek Mukta Light';
  font-style: normal;
  font-weight: 300;
  font-size: 11.7562px;
  line-height: 12px;
  /* identical to box height, or 100% */
  text-align: center;
  letter-spacing: 0.05em;

  color: #FB773C;
}

.taskFrame__dateLine {
  position: absolute;
  width: 62.7px;
  height: 0px;
  left: 47.02px;
  top: 147.5px;

  border: 0.78375px solid #FB773C;

}

.taskForm--Blur {
  filter: blur(5px) brightness(0.3);
  margin:0;
  padding:0;
  pointer-events: none;
}


.taskCreator {
  position: absolute;
  width: 678.3px;
  height: 346.8px;
  left: 180.48px;
  top: 115.1px;

  background: linear-gradient(84.39deg, #333333 2.38%, #272727 93.15%);
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.75);
  border-radius: 25.5px;


}


.taskCreator__upperText {
  position: absolute;
  width: 627.6px;
  height: 0px;
  left: 50.4px;
  top: 58.8px;

  font-family: 'Ek Mukta ExtraLight';
  font-style: normal;
  font-weight: 275;
  font-size: 28.8px;
  line-height: 0px;
  /* or 0% */
  display: flex;
  align-items: center;
  letter-spacing: 0.15em;

  color: #FFFFFF;



}

.taskCreator__inputFrame {
  /* Task Title */
  width: auto;
  background-color: rgb(0,0,0,0%);
  font-family: 'Ek Mukta Regular';
  font-style: normal;
  outline: none;
  font-weight: 400;
  font-size: 12px;
  letter-spacing:0.2em;
  line-height: 30px;

  color: #A6A6A6;
  flex: none;
  order: 0;
  flex-grow: 0;

}

.taskCreator__frameName {
  width: auto;
  height: 18px;

  font-family: 'Ek Mukta ExtraBold';
  font-style: normal;
  font-weight: 800;
  font-size: 10.8px;
  line-height: 18px;
  letter-spacing: 0.2em;

  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;


}

.taskCreator__titleFrame {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8.16px;
  gap: 8px;

  position: absolute;
  width: 574.26px;
  height: 36px;
  left: 52.02px;
  top: 108.12px;

  background: linear-gradient(90deg, #232323 0%, #272727 100%);
  border: 1.02px solid #A6A6A6;
  box-shadow: 0px 4.08px 10.2px rgba(0, 0, 0, 0.25);
  border-radius: 4.08px;


}

.taskCreator__descFrame {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8.3232px;
  gap: 8px;

  position: absolute;
  width: 574.26px;
  height: 36px;
  left: 52.02px;
  top: 157.08px;

  background: linear-gradient(90deg, #232323 0%, #272727 100%);
  border: 1.0404px solid #A6A6A6;
  box-shadow: 0px 4.1616px 10.404px rgba(0, 0, 0, 0.25);
  border-radius: 4.1616px;


}

.taskCreator__deadlineFrame {
  position: relative;
  width: 564.06px;
  height: 57.12px;
  left: 57.12px;
  top: 230px;
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  gap: 17px;


}

.taskCreator__deadlineTitle {
  position: absolute;
  top: 57.65%;
  bottom: 37.45%;
  width: 684px;

  font-family: 'Ek Mukta ExtraBold';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.2em;

  color: #FFFFFF;

}

.taskCreator__deadlineElement {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8.16px;
  gap: 10.2px;
  position: static;
  flex-grow: 0;
  width: 96.9px;
  height: 30.32px;

  background: #232323;
  border: 1.02px solid #A6A6A6;
  box-shadow: 0px 4.08px 10.2px rgba(0, 0, 0, 0.25);
  border-radius: 4.08px;

  font-family: 'Ek Mukta Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 12.24px;
  line-height: 14px;
  text-align: center;

  color: #A6A6A6;
  flex: none;
  order: 0;
  flex-grow: 1;


}

.taskCreator__saveButton {
  box-sizing: border-box;

  position: absolute;
  width: 118.32px;
  height: 35.7px;
  left: 535.51px;
  top: 291.72px;

  background: linear-gradient(95.06deg, #232323 0.01%, #494949 100.01%);
  border: 1.02px solid #A6A6A6;
  border-radius: 5.1px;

  font-family: 'Ek Mukta Light';
  font-style: normal;
  font-weight: 300;
  font-size: 17.34px;
  line-height: 29px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  cursor: pointer;

  color: #FFFFFF;



}

.taskCreator__exitButton {
  position: absolute;
  width: 10.34px;
  height: 9.32px;
  left: 647.71px;
  top: 17.34px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: rgb(0,0,0,0%);



}

